:root {
  --primary-bg               : #0c1b20;
  /* green */
  --primary-green            : #43b74a;
  --secondary-green          : #0f7e78;
  --third-green              : #588157;
  /* blue */
  --primary-blue             : #3d76bb;
  --secondary-blue           : #2a4361;
  /* colors */
  --primary-purple           : #535aa8;
  --primary-pink             : #ee5c5d;
  --primary-yellow           : #efcb1b;
  --primary-black            : #0e1d21;
  --primary-white            : #fefefe;
  /* font-sizes */
  --xl-font-size             : 50px;
  --title-size               : 40px;
  --responsive-title-size    : 30px;
  --sub-title-size           : 17px;
  --responsive-sub-title-size: 14px;
  --btns-font-size           : 16px;
  /*  */
  --border-color             : #414c50;
}

* {
  box-sizing     : border-box;
  font-family    : "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

body {
  margin          : 0;
  font-family     : inherit;
  background-color: var(--primary-bg);
  position        : relative;
  height          : fit-content;
}

main {
  overflow: hidden;
}

a {
  text-decoration: none;
  cursor         : pointer;
}

button {
  cursor : pointer;
  border : none;
  outline: none;
}

img {
  aspect-ratio: 2 / 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin : 0;
  padding: 0;
}

picture {
  width: fit-content !important;
}

/* Scroll Bar */

*::-webkit-scrollbar {
  width           : 8px;
  background-color: var(--secondary-blue);
}

*::-webkit-scrollbar-thumb {
  width: 8px;

  background-color: var(--primary-green);
  border-radius   : 8px;
}

*::-webkit-scrollbar-corner {
  border-radius: 8px;
}

.footer-logo {
  position: absolute;
  right   : 0;
  bottom  : 35px;
  z-index : -1;
}

.default-typewriter {
  overflow         : hidden;
  max-width        : 100%;
  visibility       : visible;
  animation        : defaultTypewriter 1s ease forwards 0.1s;
  -webkit-animation: defaultTypewriter 1s ease forwards 0.1s;
}

@keyframes defaultTypewriter {
  0% {
    clip-path: inset(0 100% 0 0);
  }

  100% {
    clip-path: inset(0 0 0 0);
  }
}

.responsive-typewriter {
  overflow         : hidden;
  max-width        : 100%;
  visibility       : visible;
  clip-path        : inset(0 100% 0 0);
  animation        : revealClip 1.1s ease forwards 0.2s;
  -webkit-animation: revealClip 1.1s ease forwards 0.2s;
}

@keyframes revealClip {
  from {
    opacity  : 0;
    clip-path: inset(0 100% 0 0);
  }

  to {
    opacity  : 1;
    clip-path: inset(0 0 0 0);
  }
}

.hidden-element {
  opacity: 0;
}

.fade-up-element {
  width            : 100%;
  height           : 100%;
  animation        : fadeUpElement 1.3s ease;
  -webkit-animation: fadeUpElement 1.3s ease;
}

@keyframes fadeUpElement {
  from {
    opacity          : 0;
    transform        : translateY(20px);
    -webkit-transform: translateY(20px);
    -moz-transform   : translateY(20px);
    -ms-transform    : translateY(20px);
    -o-transform     : translateY(20px);
  }

  to {
    opacity          : 1;
    transform        : translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform   : translateY(0);
    -ms-transform    : translateY(0);
    -o-transform     : translateY(0);
  }
}