.blog-page {
  width : 100%;
  height: 100%;
    overflow  : hidden;
      background-color : var(--primary-bg);
}

.blog_page_video {
  width     : 100%;
  height    : 100vh;
  max-height: 370px;
  min-height: 178.812px;
  position  : relative;

  z-index   : 0;
}

.blog_page_video video{
  width: 100%;
}
.blog_page_video::after {
  content          : "";
  width            : 130% !important;
  height           : 170px;
  position         : absolute;
  bottom           : -90px;
  left             : -30px;
  background-color : var(--primary-bg);
  z-index          : 1;
  transform        : rotate(-5deg);
  -webkit-transform: rotate(-5deg);
  -moz-transform   : rotate(-5deg);
  -ms-transform    : rotate(-5deg);
  -o-transform     : rotate(-5deg);
}
.blog_title_section{
  width: 100%;
  height: 100%;
    background-color : var(--primary-bg) ;
    position: relative;
    z-index: 2;
    padding: 100px 0 20px 0;
}
.blog_page_card_section {
  width                : 100%;
  height               : 100%;
  max-width            : 1500px;
  display              : grid;
  grid-template-columns: repeat(3, 1fr);
  gap                  : 20px;
  margin               : 50px auto;
  padding-inline       : 30px;
  z-index: 9;
  position: relative;
  background-color:var(--primary-bg)
}

@media (min-width: 1440px) {
  .blog_page_video::after {
    height: 250px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {

  .blog_page_video,
  .blog_page_video .VideoSection {
    max-height: 300px !important;
  }

  .blog_page_card_section {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 220px) and (max-width: 768px) {

  .blog_page_video,
  .blog_page_video .VideoSection {
    max-height: 260px !important;
  }

  .blog_page_card_section {
    width                : 100%;
    max-width            : 100%;
    grid-template-columns: 1fr;
  }
}