.footer-parent-container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  padding-top: 50px;
}
.app-footer {
  width: 100%;
  max-width: 1500px;
  margin: 200px auto 0 auto;
  padding: 0 30px;
}

.app-footer_wrapper {
  width: 80%;
  border-top: solid 1px var(--primary-green);
}

.app-footer_body {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;

  padding-block: 50px;
}

.app-footer_logo {
  object-fit: contain;
}

.app-footer_contact {
  border-right: solid 1px var(--primary-white);
  padding-inline: 40px;
}

.app-footer_email,
.app-footer_location,
.app-footer_meta,
.app-footer_other {
  font-size: var(--sub-title-size);
  color: var(--primary-white);
  font-weight: 300;
}

.app_footer_services {
  width: 100%;
  padding: 3px 40px;
  background-color: var(--primary-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
}

.app_footer_services_txt {
  color: var(--primary-black);
  font-size: var(--responsive-sub-title-size);
  font-weight: 400;
}
.app_footer_services_txt a {
  color: var(--primary-black);
  font-size: var(--responsive-sub-title-size);
  font-weight: 400;
}
.app_footer_services_txt a:hover {
  text-decoration: underline;
}

.app_footer_services_txt span {
  color: var(--primary-blue);
}

.app_footer_services_btn {
  color: var(--primary-black);
  font-size: var(--responsive-sub-title-size);
  font-weight: 400;
  background-color: var(--primary-white);
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.footer-copy-right {
  width: 100%;
  color: var(--primary-white);
  font-size: var(--responsive-sub-title-size);
  font-weight: 400;
  margin-top: 23px;
}

.footer-logo {
  position: absolute;
  right: -190px;
  bottom: -110px;
  z-index: -1;

  width: 665px;
  height: 665px;
  opacity: 0.1;
  overflow: hidden;
}

/* Media Query */
@media (min-width: 786px) and (max-width: 1200px) {
  .app-footer {
    width: 100%;
    max-width: 100%;
    margin: 100px auto 0 auto;
  }

  .app-footer_wrapper {
    width: 100%;
  }

  .app-footer_body {
    gap: 30px;
  }

  .app-footer_contact {
    padding-inline: 20px;
  }
}

@media (min-width: 280px) and (max-width: 785px) {
  .app-footer_logo {
    width: 100%;
    height: 100%;
    max-width: 300px;
  }

  .app_footer_services {
    flex-direction: column;
    padding-block: 20px;
    gap: 15px;
  }

  .app_footer_services_txt {
    margin: 0;
  }
  .app-footer {
    width: 100%;
    max-width: 100%;
    margin: 50px auto 0 auto;
  }

  .app-footer_wrapper {
    width: 100%;
  }

  .app-footer_body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .app-footer_contact,
  .app-footer_social {
    width: 100%;
    border-right: solid 1px var(--primary-white);
    padding-inline: 20px;
  }
}

@media (min-width: 280px) and (max-width: 480px) {
  .footer-parent-container {
    padding-top: 102px;
  }
  .app-footer {
    margin-top: 0;
    padding-inline: 19px;
  }
  .app-footer_contact,
  .app-footer_social {
    padding-inline: 0;
    border: none;
    position: relative;
  }
  .app-footer_contact {
    padding-bottom: 22px;
  }
  .app-footer_body {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0;
    align-items: flex-start;
    padding-bottom: 0;
    padding-top: 23px;
  }
  .footer_linked_logo {
    grid-row: 3/4;
  }
  .app-footer_social {
    position: relative;
    margin-top: 18px;
  }
  .app-footer_contact::after {
    content: "";

    position: absolute;
    bottom: 0;
    left: 0;
    width: 10%;
    height: 1px;
    background-color: var(--primary-white);
  }
  .app-footer_email,
  .app-footer_location,
  .app-footer_meta,
  .app-footer_other {
    font-size: 17px;
    font-weight: 300;
  }
  .app-footer_logo {
    width: 251px;
    height: 71px;
    margin-top: 19px;
  }

  .app_footer_services {
    display: grid;
    grid-template-columns: 1fr 54px;
    padding: 0;
    background-color: transparent;
    gap: 5px;
    margin-top: 19px;
  }
  .app_footer_services_txt {
    font-size: 14px;
  }
  .app_footer_services_txt,
  .app_footer_services_btn {
    border-radius: 8px;
    background-color: var(--primary-white);
    padding: 14px 13px;
    height: 100%;

    min-height: 82px;
  }
  .app_footer_services_btn {
    flex-direction: column-reverse;
    padding: 14px 7px;
    font-size: 13px;

    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
